body {
	margin: 0;
}

.container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-template-areas:
		"header header header header"
		"main main . aside"
		"footer footer footer footer";
}

header {
	grid-area: header;
}
main {
	grid-area: main;
}
aside {
	grid-area: aside;
}
footer {
	grid-area: footer;
}
